{% extends 'base.html' %}

{% block title %}
  Inicio
{% endblock %}

{% block contenido_que_cambia %}
    <div class="container">
    <h1>Bienvenido.</h1>
    <h3>Te invito a que juegues con cualquiera de los 3 creadores</h3>
    <hr class="hr-text" data-content="AND">

    <a href="/rpg/create-character/">Crea tu propio personaje de RPG</a>
    <br>
    <br>
    <a href="/vehicle/create-vehicle/">Crea el vehículo ideal</a>
    <br>
    <br>
    <a href="/pet/create-pet/">Crea tu mascota ideal</a>

    <hr class="hr-text" data-content="OR">
    <h3>Gracias por visitarnos.</h3>
  </div>
  
{% endblock%}